html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 180px; /* Margin bottom by footer height */
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px; /* Vertically center the text there */
    background: rgb(35, 35, 71);
    margin-top: 50px;
  }
  
  .footer a, li{
    color: white;
  }
  
  .list-inline-item {
    font-size: 20px;
  }
  